<html lang="en">

<head>
    <title>Trang chủ</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/app.css">
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/scripts/app.js"></script>

<body style="background-color: #e6e8ed">
    <div class="container">
        <header style="text-align: center">
            <% include header.ejs %>

        </header>
        <hr style="color: black; background-color: grey; height: 1px;" />
        <hr style="color: black; background-color: black; height: 1px;" />

        <!--START BREAKING NEW-->
        <div class="breaking-new" style="">
            <div class="row" style="height: 410px;">
                <div class="col-md-8">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        </ol>
                        <a href="#">
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img style="width: 100%; height: 100%;" src="https://snazzytheme.com/premium-themes/tennews-v1.0.1/images/slider-3.jpg">
                                    <div class="carousel-caption">
                                        <div class="row">
                                            <div class="col-md-12" style="text-align: center">
                                                <h4 style="font-size: 20px">Xin chao moi nguoi</h4>
                                            </div>
                                            <div class="col-md-12">
                                                <span style="color: wheat; font-size: 14px">2018-02-01</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
                <div class="col-md-4" style="">
                    <div class="col-md-12" style="height:  200px;">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            </ol>
                            <a href="#">
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img style="width: 100%; height: 100%;" src="https://snazzytheme.com/premium-themes/tennews-v1.0.1/images/tech.jpg">
                                        <div class="carousel-caption">
                                            <div class="row">
                                                <div class="col-md-12" style="text-align: center">
                                                    <h4 style="font-size: 15px">Xin chao moi nguoi</h4>
                                                </div>
                                                <div class="col-md-12">
                                                    <span style="color: wheat; font-size: 10px">2018-02-01</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12" style="height:  200px; margin-top: 10px">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            </ol>
                            <a href="#">
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img style="width: 100%; height: 100%;" src="https://snazzytheme.com/premium-themes/tennews-v1.0.1/images/health.jpg">
                                        <div class="carousel-caption">
                                            <div class="row">
                                                <div class="col-md-12" style="text-align: center">
                                                    <h4 style="font-size: 15px">Xin chao moi nguoi</h4>
                                                </div>
                                                <div class="col-md-12">
                                                    <span style="color: wheat; font-size: 10px">2018-02-01</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END BREAKING NEW-->

        <!--START NEWST NEW-->
        <div class="row section2" style="margin-top: 20px; height: 300px;">
            <div class="col-md-8 newest">
                <h3>TIN MỚI NHẤT</h3>
                <div style="margin-top: 15px">
                    <div class="col-md-6">
                        <div class="">
                            <img src="https://snazzytheme.com/premium-themes/tennews-v1.0.1/images/latest-1.jpg" style="width: 100%; height: 150px;">
                            <h4 style="margin-top: 3px; font-weight: 600">These sentences are selected from various online news.</h4>
                            <p style="margin-top: 3px">These sentences are selected from various online news. These sentences are selected from various
                                online news.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row" style="height: 60px; margin-top: 10px">
                            <div class="col-md-4">
                                <img src="https://snazzytheme.com/premium-themes/tennews-v1.0.1/images/latest-1.jpg" style="width: 100%; height:100%;">
                            </div>
                            <h4 style="margin-top: 3px; font-size: 15px">These sentences are selected from various online news.</h4>
                        </div>
                        <div class="row" style="height: 60px; margin-top: 10px">
                            <div class="col-md-4">
                                <img src="https://snazzytheme.com/premium-themes/tennews-v1.0.1/images/latest-1.jpg" style="width: 100%; height:100%;">
                            </div>
                            <h4 style="margin-top: 3px; font-size: 15px">These sentences are selected from various online news.</h4>
                        </div>
                        <div class="row" style="height: 60px; margin-top: 10px">
                            <div class="col-md-4">
                                <img src="https://snazzytheme.com/premium-themes/tennews-v1.0.1/images/latest-1.jpg" style="width: 100%; height:100%;">
                            </div>
                            <h4 style="margin-top: 3px; font-size: 15px">These sentences are selected from various online news.</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 link">
                <h3>LIÊN KẾT</h3>

                <div class="row" style="height: 30px; margin-top: 15px">
                    <div class="col-md-12">
                        <a href="">
                            <div class="col-md-2">
                                <i class="fa fa-facebook-square fa-4x" style="width: 200%; height: 200%;"></i>
                            </div>
                            <div class="col-md-9" style="margin-top: 15px">Đội SVTN Đồng hương Thái Bình</div>
                        </a>
                    </div>
                </div>

                <div class="row" style="height: 30px;">
                    <div class="col-md-12">
                        <a href="">
                            <div class="col-md-2">
                                <i class="fa fa-youtube-square fa-4x" style="width: 200%; height: 200%;"></i>
                            </div>
                            <div class="col-md-9" style="margin-top: 15px">Đội SVTN Đồng hương Thái Bình</div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <!--END NEWST NEW-->
    </div>



</body>

</html>